openapi: 3.0.4
info:
  title: Boggle Board Generator
  description: >-
    Boggle Board Generator creates random Boggle game boards with authentic dice
    configurations, HTML rendering, and downloadable PNG images.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/boggleboardgenerator:
    get:
      summary: Generate Boggle Board
      description: Generate random Boggle board with HTML and image
      operationId: boggleboardgenerator
      parameters:
        - name: size
          in: query
          schema:
            type: integer
          required: false
          description: Board size
          example: 4
        - name: image
          in: query
          schema:
            type: boolean
          required: false
          description: Set to true to generate a downloadable board image
          example: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  board:
                    - - U
                      - A
                      - Z
                      - H
                    - - 'Y'
                      - L
                      - E
                      - A
                    - - A
                      - I
                      - E
                      - F
                    - - T
                      - D
                      - E
                      - X
                  size: 4
                  html: >-
                    <html><head><title>Boggle Board</title><style>table
                    {border-collapse: collapse; width: 320px; height: 320px;
                    font-family: Arial, sans-serif;}td {text-align: center;
                    width: 80px; height: 80px; padding: 0; border: 2px solid
                    #333; background-color: #f5e6d3; font-size: 24px;
                    font-weight: bold; color:
                    #2c1810;}</style></head><body><table><tr><td>U</td><td>A</td><td>Z</td><td>H</td></tr><tr><td>Y</td><td>L</td><td>E</td><td>A</td></tr><tr><td>A</td><td>I</td><td>E</td><td>F</td></tr><tr><td>T</td><td>D</td><td>E</td><td>X</td></tr></table></body></html>
                  image:
                    imageName: e91f26a6-95fc-47c1-9117-b0bb169c3418_boggle.png
                    format: .png
                    downloadURL: >-
                      https://storage.googleapis.com/apiverve/APIData/boggleboardgenerator/e91f26a6-95fc-47c1-9117-b0bb169c3418_boggle.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766010033&Signature=Y%2Bx7mfpf%2FtSwnIkgen0c5gfuBNROyJYByCnhToBZIM660VzCpCX8ON%2F9V1sBElqpDm2rePIfPMqiFG3DC5f98%2BczXodTl4TiUnDxyYm5uMv%2Fdr71kRdUnVKRMp42FkflnxQ2p8YMmRTEx279hpgRQb2BCx4e7ntQrh8uepKoaHY1G8gBOJIof0LQPSWo%2FygwA74Hmwwe8wTZcScXgTskxXm%2BpESGeOb942JiP8Pf9CL1RWOYdjIS3Kr4%2FcgnEMXPjKecOcNZaN%2BGQXm3UC6GAVHzA1QF0uOOKE%2FeyxybNRD1dc0uCUFNYHIpXpEJ8pPvzYHQlSNv1EPfpd4pMc9s9g%3D%3D
                    expires: 1766010033049
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
